.header {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    text-transform: uppercase;
    letter-spacing: 1rem;
}

.header__switch {
    border: none;
    background-color: transparent;
}

.header__switch--dark {
    background-image: url('../images/icon-moon.svg');
}