:root {
    --bright-blue: hsl(220, 98%, 61%);
    --gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light-mode {
    --text-color-gray: rgb(150, 150, 160);
    --text-color-dark: rgb(95, 94, 108);
    --text-color-active: rgb(120, 158, 239);
    --card-color: rgb(255, 255, 255);
    --bg-color: rgb(246, 246, 248);

    background-image: url('../images/bg-mobile-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* .dark-mode {

} */

body {
    font-family: "Josefin Sans", sans-serif;
    background-color: var(--bg-color);
}

.main {
    width: 100%;
    padding: 3rem 2rem;
}

.main__item {
    list-style: none;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}